body {
  background-color: #dcd3f4
}

section {
  float: left;
  border-style: inset;
  border-color: #595959;
  border-width: 3px;
  padding-left:6%;
  padding-right:5%;
  padding-top: 5%;
  padding-bottom: 3%;
  background-color: #999999;
  margin-left: 30%;
  margin-right: 20%;
}

#temp {
  margin-right: 10%;
  margin-bottom: 2%;
  margin-left: 10%;
}

#fahernheit {
  float: left;
  margin-left: %;
}
#celcius {
  float: left;
  margin-left: %;
}

h1 {
  text-align: center;
  margin-right: 10%;
  margin-top: 1%;
  font-family: "Lucida Grande", sans-serif;
}
